header {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 90.9%;

	background: #FFFFFF;
	/* 1 */

	box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
}

header svg {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 123px;
	top: 22px;
}

#logo-text {
	/* UI Style Guide */
	position: absolute;
	height: 20px;
	left: 14.58%;
	right: 67.43%;
	top: calc(50% - 20px);

	/* 20 / M */

	font-family: Geometria;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 44px;
	/* or 220% */

	color: #000000;
}