.button-to-main {
	position: absolute;
	display: flex;
	align-items: center;
	
	margin-top: 25px;
	padding-left: 3px;

	background: none;
	border: 0;

	font-family: Geometria, sans-serif;
	font-weight: 500;
	font-size: 12px;
	left: 10%;

	outline: none;
}

@media all and (max-width: 490px) {
	.button-to-main {
		left: 5%;
	}
}

.button-to-main img{
	margin-right: 20px;
	margin-top: -5px;
}

.button-to-main:hover {
	cursor: pointer;
	font-weight: 500;
}