.blue-button {
	width: 100%;
	max-width: 400px;
	height: max-content;

	background: #49C2E8;
	border-radius: 10px;
	border: none;

	color: #fff;
	font-weight: 600;

	outline: none;

	font-family: Geometria, sans-serif;
	font-size: 16px;

	padding-top: 14px;
	padding-bottom: 14px;
}	

.blue-button span {
	margin-left: auto;
	margin-right: auto;
}

.blue-button img {
	margin-right: 15px;
	margin-bottom: -3px;
}

.blue-button:hover {
	cursor: pointer;
	background-color: #2894b4;
}
