body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Geometria, sans-serif;

	width: 100%;
	height: 100%;
}

#root {
	position: absolute;
	min-width: 100%;
	min-height: 100%;



	background: #FFFFFF;
}

.container {
	position: absolute;

	left: 10%;
	right: 10%;

	max-width: 1440px;

	padding-top: 70px;
}

.container-text-and-button {
	position: relative;
	display: flex;
	width: 100%;

	justify-content: space-between;
	margin-bottom: 40px;
}

.container-tools {
	display: grid;
	grid-template-columns: 4fr 1fr;
	align-items: center;
	grid-gap: 20px;
}